.dropdown-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 20px;

}

.three-dots:after {
    display: inline-block;
    transform: rotate(90deg);
    cursor: pointer;
    color: #FCC;
    content: '\2807';
    font-size: 20px;
    color: rgba(45,46,47,0.7);
    position: absolute;
    font-size: 25px;

    width: 10px;
    margin-left: 12px;
    margin-top: -14px;

}

.three-dots:hover:after {
    color: rgba(0, 0, 0, 0.7);
    /* color: red; */
}

.review-dropdown {
    opacity: 0;
    z-index: -1;
    max-height: 0;
    transition: opacity 0.1s, z-index 0.1s, max-height 5s;
    position: relative;
    right: 79px;
    top: 10px;
    width: 100px;
    background-color: #60a3e213;
    border: 2px solid #3a92e3;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.review-button {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    padding: 3px 5px;
    font-weight: 600;
    color: #3a92e3;
    border: transparent;
    background-color: transparent;
    text-decoration: none;
    font-size: 13px;
}

.review-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.review-dropdown form {
    width: 60px;
}

.dropdown-container:focus .review-dropdown {
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
    transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
}
