.form-main-signup {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -230px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .7);
    height: 700px;
    width: 460px;
    z-index: 100;
    border-radius: 5px;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .3s;
    z-index: 150;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
