.individual-review {
    margin-bottom: 45px;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-size: 14px;
    position: relative;
}

.reviews-header {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    margin-bottom: 40px;
}

.stars {
    display: inline-block;
    font-size: 26px;
    font-family: Times;
    line-height: 1;
    justify-content: center;
  }

.stars::before {
    --percent: calc(var(--rating) / 5 * 100%);
      content: '★★★★★';
      letter-spacing: 3px;
      background: linear-gradient(90deg, #fc0 var(--percent), #D3D3D3 var(--percent));
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
}

.review-stars {
    position: relative;
    right: 4px;
}

.review-user {
    margin: 0 0 5px 0;
    width: 10px;
    font-weight: bold;
    font-size: 16px;
}

.review-message {
    margin: 15px 0 20px 0;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    line-height: 1.5;
    width: 90%;
}
