.main-container {
    height: 100vh;
    background-image: url('../../../img/splash.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}


.splash-content {
    display: grid;
    grid-template-rows: 50% 50%;
    margin-top: -175px;
    width: 100%;
}

.splash-logo-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 25px;
}

.splash-form-container {
    display: grid;
    grid-template-rows: 1fr 2.6fr;
    justify-items: center;
    width: 100%;
}

.splash-search {
    height: 45.22px;
    width: 60%;
    border: none;
    box-sizing:border-box;
    padding: 10px;
    font-size: 18px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
}

.splash-search-input {
    height: 45.22px;
    width: 60%;
    border: none;
    box-sizing:border-box;
    padding: 10px;
    font-size: 18px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: left;
}

.splash-search:focus {
    outline: none;
}

.splash-search-input:focus {
    outline: none;
}

.location-search {
    height: 45.22px;
    width: 42%;
    border-left: 1px dotted rgba(0,0,0,.1);
    border-top: none;
    border-right: none;
    border-bottom: none;
    box-sizing:border-box;
    padding: 10px;
    font-size: 18px;
}

.location-search:focus {
    outline: none;
}

.splash-submit {
    height: 45.22px;
    width: 8%;
    border: none;
    background-color: #de791b;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.splash-submit:focus {
    outline: none;
}

.splash-submit:hover {
    cursor: pointer;
    background-color: #1b91e0;
}

.fa-paw{
    color: white;
    font-size: 16px;
}

.splash-links-container {
    margin-top: 15px;
    text-align: center;
}

.splash-links {
    margin-top: -100px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    font-size: 17px;
}

.fa-nav{
    padding-right: 5px;
}
