.login-container {
    background-image: url('../../../img/log.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;

}

@media screen and (max-height: 1000px) {
    .login-container {
        padding-bottom: 100px;
    }
}
